*{
    margin: 0;
    padding: 0;
}
.wrap{
    background: #fafafa;
}
.header-main{
    width: 100%;
    color: #29b078;
    display: flex;
    justify-content:space-between ;
    margin-top:1rem;
    margin-bottom: 0.5rem;
}
.navigation{
    width: 100%;
    background: #29b078;
    height:9.4rem;
}
.xte{
    width: 100%;
}
.option{
    font-size: 2.5rem;
    display: flex;
    float: right;
    color: #ffffff;
    margin-top: 3.5rem;
}
.page{
    margin-right: 1.5rem;
}
.page:hover{
    color: #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 2.6rem;
}
.profession{
    margin-right: 1.5rem;
}
.profession:hover{
    color: #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 2.6rem;
}
.recommend{
    margin-right: 1.5rem;
}
.recommend:hover{
    color: #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 2.6rem;
}
.regard{
   margin-right: 1.5rem;
}
.regard:hover{
    color: #fff;
    border-bottom: 4px solid #fff;
    padding-bottom: 2.6rem;
}
.first-row {
    margin: 10rem 0;
}
.text-first {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-first-aside {
    border-left: 1px #dedede dashed;
    display: flex;
    justify-content: center;
}

.box-img {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h3{
    text-align: center;
    color: #000000;
}
.step{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.step-number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 4rem;
    min-width: 4rem;
    box-shadow: 0 0 5px #999999;
    color: #29b078;
}
.step p{
    padding: 1rem;
    width: 14rem;
    font-size: 1rem;
}
.step img{
    width: 2rem;
}
.average{
    margin: 6rem auto;
}
.average h3{
    text-align: center;
    color: #000000;
    margin-bottom: 3rem;
}
.circle{
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}
.circle img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.circle h4{
    text-align: center;
    color: #000000;
}
.text{
    color: #999999;
}
.svn{
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}
.cve{
    display: flex;
    width: 1rem;
    height: 1rem;
    border-radius: 4rem;
    margin-right:0.2rem;
    box-shadow: 0 0 5px #999999;
    background: #ffffff;
}
.cve:hover{
    background: #29b078;
}
.group-company {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;
}
.cved{
    margin-bottom: 3rem;
    color: #999999;
}
.row{
    text-align: center;
}
.nnm{
    margin-top: 3rem;
    font-size: 2rem;
}
.company{
    height: 18rem;
    width: 18.5rem;
    background: #ffffff;
    border: 0;
}
.company:hover{
    border: 2px solid #ddd;
    box-shadow: 5px 5px 5px 5px #999999;
}
aside {
    width: 100%;
    background: #ffffff;
}

.group-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.group-links span:hover{
    border-bottom: 2px solid #29b078;
}
.group-links div {
    line-height: 4rem;
    white-space:nowrap;
}
.cot{
    background: #ffffff;
}

footer {
    color: #ffffff;
    background: #29b078;
    width: 100%;
}
.trick{
    display: block;
    height: 15rem;
}
.djc{
    margin-top: 3rem;
}
.dj{
    margin-top: 3rem;
    float: right;
}





